<!DOCTYPE html>
<html>
<head>
	<link rel="SHORTCUT ICON" href="/static/img/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link media="screen" href="/static/bootstrap.css" type="text/css" rel="stylesheet" />
	<link media="screen" href="/static/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link media="screen" href="/static/bootstrap-responsive.css" type="text/css" rel="stylesheet" />
	<link media="screen" href="/static/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
	<link rel="STYLESHEET" type="text/css" href="/static/style_help.css">
	<script src="http://bootsnipp.com/js/jquery.js"></script>
	<script src="http://bootsnipp.com/js/bootstrap.min.js"></script>
	<script src="http://bootsnipp.com/js/prettify.js"></script>
	<script src="http://bootsnipp.com/js/codemirror.js"></script>
	<script src="http://bootsnipp.com/js/humane.min.js"></script>
</head>
<body>
	{% extends "base.html" %}
	{% block content %}
	
	<div class="container">
		<div class="hero-unit center">
			<h1>SOBRE NOSOTROS</h1>	
		</div>
		<h2 id="tagline">La forma más simple y más rápida de cotillear y críticar lo que más odias.</h2>

		<h3>Una red de cotilleo y críticas</h3>
		<p><strong>Raven</strong> es una red de información en tiempo real que te conecta con las últimas historias, críticas, cotilleos y noticias sobre lo que encuentras interesante. Simplemente localiza las cuentas que te resulten más atractivas y sigue sus conversaciones.</p>
		<p>En el corazón oscuro de Raven hay <strong>grandes explosiones</strong> de cotilleo y críticas llamadas Cuervos. Cada <strong>Cuervo</strong> tiene 140 caracteres de longitud, pero no te dejes engañar por su pequeño tamaño puedes cotillear un montón en poco espacio.</p>

		<h3>No tienes que comentar ni aportar nada para obtener valor en Raven</h3>
		<p>Cotillear es gratis. Puedes simplemente seguir a aquellas personas que quieras cotillear, no tienes que aportar nada para disfrutar de Raven. Ya sea críticando 100 veces al día o nunca, sigues teniendo acceso a las críticas y los cotilleos que rodean todo lo que te interesa. Puedes contribuir, o solamente observar y obtener información al segundo.</p>

		<h3>Raven alrededor del mundo</h3>
		<p>Raven fue fundado en <strong>El Sobradillo</strong>, pero es utilizado por personas de casi todos los países del mundo porque los cotilleos son universales.</p>


		
		
		<hr>

		<footer>
			<p>&copy; DSI-ETSII-ULL Proyecto DEA - 2013</p>
		</footer>
	</div>
	{% endblock %}
</body>
</html>